/* Box Model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Colors */
:root {
  --light-blue: #087ef5;
  --yellow: #dcc726;
  --dark-grey: #2a2c2d;
  --white: #ffffff;
  --black: #000101;
}

html {
  font-family: 'Anta', serif;
  color: var(--black);
}

body {
  font-size: .8rem;
  padding: 0;
  margin: 0;

}

.container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

/* Header*/
.top-header {
  overflow: hidden;
  padding: 1.15rem .580rem;
}

.top-header a {
  text-decoration: none;
  color: var(--dark-grey);
}

.top-header a:hover {
  color: var(--yellow);
}

.site-name {
  display: block;
  margin-left: .5rem;
  font-size: 1.5rem;
  margin-bottom: -1.4rem;
  font-weight: bold;
}

#tools {
  float: right;
  display: block;
  margin-right: .5rem;
  font-size: 1rem;
}

/* Navigation */
.nav-bar {
  overflow-x: auto;
  background-color: var(--dark-grey);
  white-space: nowrap;
  width: 100%;
}

.nav-bar a {
  text-decoration: none;
  color: var(--white);
}

.nav-bar li {
  padding: .550rem .550rem;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar li:hover {
  background-color: var(--yellow);
}

/* Footer*/

.bottom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 45rem) {

  html {
    font-size: 1.2rem;
  }

  body {
    background-image: url(/images/site/small_check.jpg);
  }

  .container {
    margin: 1rem auto 1rem auto;
    border-radius: .30rem;
    border: .5rem solid var(--light-blue);
    max-width: 90vw;
    background-color: var(--white);
  }
}

/*Hero picture*/

.hero-caption {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding: .25rem;
  border-radius: .20rem;
  border: .1rem solid var(--light-blue);
  max-width: 50%;
  background-color: rgba(173, 210, 243, 0.9);
}


.hero-img img {
  display: block;
  width: 100%;
}


.home-container {
  padding: 1rem .600rem;
  margin-bottom: 2rem;
}


.hero {
  position: relative;
  max-width: 100%;
  margin-top: 2rem;
}


.hero-caption ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.hero-caption img {
  display: block;
  width: 100%;
  margin-top: .75rem;
}


.home-reviews li {
  margin-bottom: .640rem;
}

/*Upgrade section*/

.upgrades a {
  text-decoration: none;
  color: var(--dark-blue);
}


.upgrades a:hover {
  color: var(--yellow);
}


.upgrades-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

/*Images (img)*/

.item-img img {
  display: block;
  margin: .20rem auto 0 auto;
  max-height: 100%;
  width: 40%;
}


.item-img {
  background-color: var(--light-blue);
  width: 100%;
  height: 5.5rem;
  padding: .40rem;
}


.upgrade-item {
  margin: .20rem;
}


.item-caption {
  text-align: center;
}


@media screen and (min-width: 45rem) {
  .home-reviews {
      grid-area: reviews;
  }

  .reviews-container {
      display: grid;
      grid-template-areas:
          'hero hero'
          'upgrades  reviews';
      margin-top: 2rem;
  }

  .upgrades {
    grid-area: upgrades;
    margin-right: 2rem;
}

}

/* Classification View Styles */

.inv-container {
  padding: 1.25rem .625rem;
  margin-bottom: 1.5rem;
}

.inv-display a {
  color: var(--dark-blue);
}

.inv-display a:hover {
  color: var(--blue);
}

.inv-display {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.inv-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
  padding: .75rem;
  margin: 1rem auto 1rem auto;
  text-align: center;
  width: 100%;
}

.inv-item img {
  display: block;
  border-radius: .25rem;
  max-width: 100%;
}

.inv-price {
  font-size: 1.05rem;
  color: var(--dark-grey);
}

/* Vehicle Details View Styles */

.vehicle-details {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.vehicle-hero {
  width: 100%;
}

.vehicle-hero img {
  display: block;
  border-radius: .25rem;
  max-width: 100%;
}

.vehicle-info {
  font-size: .8rem;
  margin-top: 1.2rem;
}

.vehicle-info p {
  padding: 1rem;
  color: var(--yellow);
  border: .05rem solid var(--black);
  border-radius: .30rem;
  background-color: var(--light-blue);
}

@media screen and (min-width: 48rem) {

  /* Classification View Styles */

  .inv-display {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      max-width: 100%;
  }

  .inv-item {
      width: 80%;
  }

  .inv-item h2 {
      font-size: 1rem;
  }

  /* Vehicle Details View Styles */

  .vehicle-hero {
      grid-area: vehicle-hero;
  }

  .vehicle-info {
      margin-left: 2rem;
      margin-top: 0;
      grid-area: vehicle-info;
  }

  .detail-title {
      grid-area: detail-title;
  }

  .vehicle-details {
      display: grid;
      grid-template-areas:
          'detail-title detail-title'
          'vehicle-hero vehicle-info';
  }
}

