<div class="error-container">
    <h1><%- title %></h1>
    <div class="error-hero">
        <h1>Oops, we found an error!</h1>        
        <span class="error"><%- message %></span>
        <h2></h2>  
    </div>
</div>